@using KantanMitsumori.Model.Response
@model ResponseEstMainModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "かんたん見積";
    var estModelView = Model.EstModelView;
}
<form id="frm" method="post" action="/home/estmain">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-2">
                <div class="col d-flex justify-content-between">
                    <div class="border-button container text-center">
                        <br />
                        <div class="col d-flex justify-content-between">
                            <a href="javascript:window.close();">
                                <img src="~/img/btn閉じる.png" />
                            </a>
                        </div>
                        <br />
                        <div class="col d-flex justify-content-between" style="margin:1px">
                            <a href="javascript:void(0)" onclick="Framework.GoBackReloadPageUrl('/Report/DownloadEstimateReport');return false;">
                                <img src="~/img/btn見積印刷.png" />
                            </a>
                        </div>
                        <div class="col d-flex justify-content-between">
                            <a href="javascript:void(0)" onclick="Framework.GoBackReloadPageUrl('/Report/DownloadOrderReport');return false;">
                                <img src="~/img/btn注文印刷.png" />
                            </a>
                        </div>
                        <br />
                        <div class="col d-flex justify-content-between" style="margin:1px">
                            <a href="javascript:void(0)" onclick="Framework.GoBackReloadPageUrl('/SerEst');return false;">
                                <img src="~/img/btn検索.png" />
                            </a>
                        </div>
                        <div class="col d-flex justify-content-between">
                            <a href="javascript:void(0)" onclick="Framework.GoBackReloadPageUrl('/SelCar');return false;">
                                <img src="~/img/btnフリー見積.png" />
                            </a>
                        </div>
                        <br />
                        <div class="col d-flex justify-content-between">
                            <a href="javascript:void(0)" onclick="Framework.GoBackReloadPageUrl('/InpInitVal');return false;">
                                <img src="~/img/btn諸費用設定.png" />
                            </a>
                        </div>
                        <div class="col d-flex justify-content-between">
                            <span class="label label-text">※事前設定必要</span>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-between">
                    <div class="border-button container text-center" style="margin-top: 350px;">
                        <table>
                            <tbody>
                                <tr class="d-flex justify-content-between">
                                    <td class="EstTitle1" style="text-align: center; color: #0000cc;">
                                        ＜編集ナビ＞
                                    </td>
                                </tr>
                                <tr class="col d-flex justify-content-between">
                                    <td style="height: 22px;">
                                        <input type="image" onclick="Framework.GoBackReloadPageUrl('/InpCar');return false;" name="ImageButton7" id="ImageButton7" class="imgBtn" src="img/page_edit.png" style="border-width:0px;">
                                        <a id="LinkButton1" onclick="Framework.GoBackReloadPageUrl('/InpCar');return false;" class="TxtLink" href="javascript:void(0)">見積車両</a>
                                    </td>
                                </tr>
                                <tr class="col d-flex justify-content-between">
                                    <td style="height: 22px;">
                                        <input type="image" onclick="Framework.GoBackReloadPageUrl('/InpCarPrice');return false;" name="ImageButton23" id="ImageButton23" class="imgBtn" src="img/page_edit.png" style="border-width:0px;">
                                        <a id="LinkButton2" onclick="Framework.GoBackReloadPageUrl('/InpCarPrice');return false;" class="TxtLink" href="javascript:void(0)">販売価格</a>
                                    </td>
                                </tr>
                                <tr class="col d-flex justify-content-between">
                                    <td style="height: 22px;">
                                        <input type="image" onclick="Framework.GoBackReloadPageUrl('/InpOption');return false;" name="ImageButton24" id="ImageButton24" class="imgBtn" src="img/page_edit.png" style="border-width:0px;">
                                        <a id="LinkButton11" onclick="Framework.GoBackReloadPageUrl('/InpOption');return false;" class="TxtLink" href="javascript:void(0)">付属品</a>
                                    </td>
                                </tr>
                                <tr class="col d-flex justify-content-between">
                                    <td style="height: 22px;">
                                        <input type="image" onclick="Framework.GoBackReloadPageUrl('/InpZeiHoken');return false;" name="ImageButton25" id="ImageButton25" class="imgBtn" src="img/page_edit.png" style="border-width:0px;">
                                        <a id="LinkButton3" onclick="Framework.GoBackReloadPageUrl('/InpZeiHoken');return false;" class="TxtLink" href="javascript:void(0)">税金・保険料</a>
                                    </td>
                                </tr>
                                <tr class="col d-flex justify-content-between">
                                    <td style="height: 22px;">
                                        <input type="image" name="ImageButton26" onclick="Framework.GoBackReloadPageUrl('/InpSyohiyo');return false;" id="ImageButton26" class="imgBtn" src="img/page_edit.png" style="border-width:0px;">
                                        <a id="LinkButton4" class="TxtLink" onclick="Framework.GoBackReloadPageUrl('/InpSyohiyo');return false;" href="javascript:void(0)">預り法定費用</a>
                                    </td>
                                </tr>
                                <tr class="col d-flex justify-content-between">
                                    <td style="height: 22px;">
                                        <input type="image" name="ImageButton26" onclick="Framework.GoBackReloadPageUrl('/InpSyohiyo');return false;" id="ImageButton26" class="imgBtn" src="img/page_edit.png" style="border-width:0px;">
                                        <a id="LinkButton5" class="TxtLink" onclick="Framework.GoBackReloadPageUrl('/InpSyohiyo');return false;" href="javascript:void(0)">手続代行費用</a>
                                    </td>
                                </tr>
                                <tr class="col d-flex justify-content-between">
                                    <td style="height: 22px;">
                                        <input type="image" name="ImageButton28" onclick="Framework.GoBackReloadPageUrl('/InpSitaCar');return false;" id="ImageButton28" class="imgBtn" src="img/page_edit.png" style="border-width:0px;">
                                        <a id="LinkButton6" class="TxtLink" onclick="Framework.GoBackReloadPageUrl('/InpSitaCar');return false;" href="javascript:void(0)">下取車</a>
                                    </td>
                                </tr>
                                <tr class="col d-flex justify-content-between">
                                    <td style="height: 22px;">
                                        <input type="image" onclick="Framework.GoBackReloadPageUrl('/InpNebiki');return false;" name="ImageButton29" id="ImageButton29" class="imgBtn" src="img/page_edit.png" style="border-width:0px;">
                                        <a id="LinkButton7" onclick="Framework.GoBackReloadPageUrl('/InpNebiki');return false;" class="TxtLink" href="javascript:void(0)">価格調整</a>
                                    </td>
                                </tr>
                                <tr class="col d-flex justify-content-between">
                                    <td style="height: 22px;">
                                        @{
                                            if (Model.EstModel.LeaseFlag == "1")
                                            {
                                                <input type="image" onclick="CheckNowOdometer();return false;" name="ImageButton30" id="ImageButton30" class="imgBtn" src="img/page_edit.png" style="border-width:0px;">
                                                <a id="LinkButton8" onclick="CheckNowOdometer();return false;" class="TxtLink" href="javascript:void(0)">ローン計算</a>
                                            }
                                            else
                                            {
                                                <input type="image" onclick="Framework.GoBackReloadPageUrl('/InpLoan');return false;" name="ImageButton30" id="ImageButton30" class="imgBtn" src="img/page_edit.png" style="border-width:0px;">
                                                <a id="LinkButton8" onclick="Framework.GoBackReloadPageUrl('/InpLoan');return false;" class="TxtLink" href="javascript:void(0)">ローン計算</a>
                                            }
                                        }

                                    </td>
                                </tr>
                                <tr class="col d-flex justify-content-between">
                                    <td style="height: 22px;">
                                        <input type="image" onclick="Framework.GoBackReloadPageUrl('/InpCustKana');return false;" name="ImageButton31" id="ImageButton31" class="imgBtn" src="img/page_edit.png" style="border-width:0px;">
                                        <a id="LinkButton9" onclick="Framework.GoBackReloadPageUrl('/InpCustKana');return false;" class="TxtLink" href="javascript:void(0)">お客様カナ</a>
                                    </td>
                                </tr>
                                <tr class="col d-flex justify-content-between">
                                    <td style="height: 22px;">
                                        <input type="image" onclick="Framework.GoBackReloadPageUrl('/InpHanbaiten');return false;" name="ImageButton32" id="ImageButton32" class="imgBtn" src="img/page_edit.png" style="border-width:0px;">
                                        <a id="LinkButton10" onclick="Framework.GoBackReloadPageUrl('/InpHanbaiten');return false;" class="TxtLink" href="javascript:void(0)">販売店</a>
                                    </td>
                                </tr>
                                <tr class="col d-flex justify-content-between">
                                    <td style="height: 22px;">
                                        <input type="image" onclick="Framework.GoBackReloadPageUrl('/InpNotes');return false;" name="ImageButton35" id="ImageButton35" class="imgBtn" src="img/page_edit.png" style="border-width:0px;">
                                        <a id="LinkButton12" onclick="Framework.GoBackReloadPageUrl('/InpNotes');return false;" class="TxtLink" href="javascript:void(0)">備考</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                @{
                    if (Model.EstModel.LeaseFlag == "0")
                    {
                        <div class="col d-flex justify-content-between">
                            <div class="border-button container text-center" style="margin-top: 700px;">
                                <br />
                                <div class="col d-flex justify-content-between">
                                    <a href="javascript:window.close();">
                                        <img src="~/img/btnCSV.png" />
                                    </a>
                                </div>
                                <br />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col d-flex justify-content-between">
                            <div class="border-button-print  container text-center" style="margin-top: 650px;">
                                <table>
                                    <tbody>
                                        <tr class="col d-flex justify-content-between">
                                            <td style="height: 22px;">
                                                <input type="image" onclick="" name="print" id="print" class="imgBtn" src="~/img/print.png" style="border-width:0px;">
                                                <a id="LinkButton1" onclick="" class="TxtLink" href="javascript:void(0)">法人申込書印刷</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }

            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-6 col-sm-6 ">
                        <table cellpadding="1" class="nomal">
                            <tr>
                                <td class=" table-color  ">
                                    見積書番号
                                </td>
                                <td class="data">
                                    <span id="lbEstNo" class="table-text">@Model.EstModel.EstNo - @Model.EstModel.EstSubNo</span>
                                </td>
                                <td class="table-color ">
                                    見積日
                                </td>
                                <td class="data">
                                    <span id="lbTradeDate" class="table-text">@estModelView.TradeDate</span>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <div id="tblSaleAll">
                            <table cellpadding="1" class="nomal">
                                <tr>
                                    <td class="estTitle-color-text">
                                        <span id="Label86" class="EstTitle">お支払総額</span>
                                    </td>
                                    <td class="estTitle-color-price">
                                        <span id="lbl_SaleAll" class="EstTitle ">@estModelView.SalesSum</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="tblLeaseTotal">
                            <table cellpadding="1" class="nomal">
                                <tr>
                                    <td class="estTitleLeaseTotal-color-text">
                                        <span id="lblLeaseTotal" class="EstTitle">@estModelView.LeaseTotal</span>
                                    </td>
                                    <td class="estTitle-color-price">
                                        <span id="txt_LeaseTotal" class="EstTitle "></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br />
                        <span class="label-red label-note-right d-flex justify-content-between">
                            ※注意※<br>
                            諸費用設定にて、10月以前に「税込み」表示設定をしている場合は、<br>
                            10月より税率が10%になりましたので今一度見直しください。
                        </span>
                    </div>
                    <div class="col-4 col-sm-4 ">
                        <span class="label-red label-note-left ">
                            ・&nbsp;この見積は既に保存されています<br>
                            ・&nbsp;データの保存期間は3ヶ月です<br>
                            ・&nbsp;保存データは見積検索から呼び出しが出来ます<br>
                            ・&nbsp;注文書は会員様責任にてご利用ください
                        </span>
                    </div>
                </div>
                <br />
                <!-- お客様情報（印字用） -->
                <div class="row">
                    <div class="col-8 col-sm-8">
                        <table cellpadding="1" class="table table-responsive" style="border: solid 1px #000000;">
                            <tr>
                                <td colspan="2" class="title" style="background-color: #d2e0fb; text-align: left;">
                                    見積書/注文書 印字用&nbsp; <strong><span class="spanTxtSubject">※保存はされません</span></strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    お名前
                                </td>
                                <td class="data">
                                    <input type="text" maxlength="40" class="inpbox" id="CustNm_forPrint" name="CustNm_forPrint" value="@Model.EstCustomerModel.CustNm" style="width:220px" />
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    郵便番号
                                </td>
                                <td class="data">
                                    <input type="text" maxlength="8" class="inpbox" id="CustZip_forPrint" name="CustZip_forPrint" value="@Model.EstCustomerModel.CustZip" style="width:160px" />
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    住所k
                                </td>
                                <td class="data">
                                    <input type="text" maxlength="60" class="inpbox" id="CustAdr_forPrint" name="CustAdr_forPrint" value="@Model.EstCustomerModel.CustAdr" />
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    電話番号
                                </td>
                                <td class="data">
                                    <input type="text" maxlength="13" class="inpbox" id="CustTel_forPrint" name="CustTel_forPrint" value="@Model.EstCustomerModel.CustTel" style="width:200px" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-4 col-sm-4">
                        <table cellpadding="1" class="table table-responsive" style="border: solid 1px #000000;">
                            <tr>
                                <td class="title" style="background-color: #d2e0fb; text-align: left;">
                                    <input type="image" class="imgBtn" onclick="Framework.GoBackReloadPageUrl('/InpHanbaiten');return false;" src="~/img/sbtn販売店.png" style="width:140px;border-width:0px;vertical-align: middle;">
                                </td>
                            </tr>
                            <tr>
                                <td class="dataInfo">
                                    <span id="lbl_ShopName1" style="text-align: left;">@Model.EstModel.ShopNm</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataInfo">
                                    <span id="lbl_Address" style="text-align: left;">@Model.EstModel.ShopAdr</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataInfo">
                                    <span id="lbl_TantoName" style="text-align: left;"> @estModelView.EstTanName     @estModelView.SekininName    @estModelView.ShopTel </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table cellpadding="1" class="table table-responsive" style="border: solid 1px #000000;">
                            <tr>
                                <td colspan="4" class="title" style="background-color: #d2e0fb; text-align: left; vertical-align: middle;">
                                    <input type="image" name="ImageButton1" onclick="Framework.GoBackReloadPageUrl('/InpCustKana');return false;" class="imgBtn" src="~/img/sbtnお客様.png" style="width:140px;border-width:0px;vertical-align: middle;">
                                    &nbsp;<strong><span class="spanTxtSubject">※見積書/注文書には印字されません。メモとしてお使いください。個人情報の入力・管理は会員様責任でお願いします</span></strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    お客様
                                </td>
                                <td class="dataLbl">
                                    <span id="lbl_CustKana" />@Model.EstModel.CustKname
                                </td>
                                <td class="title">
                                    お客様
                                </td>
                                <td class="dataLbl">
                                    <span id="lbl_CustMemo" />@Model.EstModel.CustMemo
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table cellpadding="1" class="table table-responsive" style="border: solid 1px #000000;">
                            <tr>
                                <td colspan="9" class="title" style="background-color: #d2e0fb; text-align: left;
                                vertical-align: middle;">
                                    <input type="image" name="ImageButton4" onclick="Framework.GoBackReloadPageUrl('/inpcar');return false;" class="imgBtn" src="~/img/sbtn見積車両.png" style="width:140px;border-width:0px;vertical-align: middle;">
                                    &nbsp; <strong><span class="spanTxtSubject">※修復歴は出品票にてご判断いただき、有・無を選択してください</span></strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="title" style="height: 20px;">
                                    車名
                                </td>
                                <td class="dataLblInfoCar" colspan="7">
                                    <span id="lbl_CarName">@Model.EstModel.MakerName  @Model.EstModel.ModelName</span>
                                </td>
                                <td class="dataLblInfoCar" rowspan="7" align="center">
                                    <img id="imgCar" src="~/img/CarImgDummy.png" style="height:180px;width:250px;border-width:0px;">
                                    <span id="lbl_AAInfo"></span>@estModelView.AAInfo
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    グレード
                                </td>
                                <td class="dataLblInfoCar" colspan="7">
                                    <span id="lbl_GradeName">@Model.EstModel.GradeName</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    型式
                                </td>
                                <td class="dataLblInfoCar" colspan="3">
                                    <span id="lbl_CaseName">@Model.EstModel.Case</span>
                                </td>
                                <td class="title">
                                    車台番号
                                </td>
                                <td class="dataLblInfoCar" colspan="3">
                                    <span id="lbl_CarNo">@Model.EstModel.ChassisNo</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    初年度登録
                                </td>
                                <td class="dataLblInfoCar" colspan="3">
                                    <span id="lbl_FirstYM">@estModelView.FirstRegYm</span>
                                </td>
                                <td class="title">
                                    車検
                                </td>
                                <td class="dataLblInfoCar">
                                    <span id="lbl_InsYM">@estModelView.CheckCarYm</span>
                                </td>
                                <td class="title">
                                    走行距離
                                </td>
                                <td class="dataLblInfoCar">
                                    <span id="lbl_NowRun">@estModelView.NowRun</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    修復歴
                                </td>
                                <td class="dataLblInfoCar">
                                    <input id="raJikoHisMu" type="radio" name="Jrk" value="raJikoHisMu"><label for="raJikoHisMu">無</label>
                                    <input id="raJikoHisU" type="radio" name="Jrk" value="raJikoHisU"><label for="raJikoHisU">有</label>
                                </td>
                                <td class="title">
                                    車歴
                                </td>
                                <td class="dataLblInfoCar">
                                    <span id="lbl_JigHis">@Model.EstModel.BusinessHis</span>
                                </td>
                                <td class="title">
                                    シフト
                                </td>
                                <td class="dataLblInfoCar">
                                    <span id="lbl_Mission">@Model.EstModel.Mission</span>
                                </td>
                                <td class="title">
                                    排気量
                                </td>
                                <td class="dataLblInfoCar">
                                    <span id="lbl_Vol">@estModelView.Vol</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    色
                                </td>
                                <td class="dataLblInfoCar" colspan="7">
                                    <span id="lbl_Color">@Model.EstModel.BodyColor</span>

                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    装備
                                </td>
                                <td class="dataLblInfoCar" colspan="7">
                                    <span id="lbl_Equipment">@Model.EstModel.Equipment</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <strong>
                            <span class="spanTxt">
                                ※車両情報は確定されたデータではありません<br>
                                &nbsp;&nbsp;&nbsp;情報は常に更新されていますので、落札の際は必ずASNET画面にて最終確認をお願い致します
                            </span>
                        </strong>
                    </div>
                </div>
                &nbsp;
                &nbsp;
                <div class="row">
                    <!-- table Price Left -->
                    <div class="col-6 col-sm-6">
                        <!-- 詳細情報：販売価格 -->
                        <table cellpadding="2" class="table table-responsive">
                            <tr>
                                <td colspan="4" class="title" style="background-color: #d2e0fb; text-align: left; vertical-align: middle;">
                                    <input type="image" src="~/img/sbtn販売価格.png" onclick="Framework.GoBackReloadPageUrl('/InpCarPrice');return false;" style="border-width:0px;vertical-align: middle;">
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice">
                                    1
                                </td>
                                <td class="titDataPrice">
                                    <span id="lbl_CarPriceTitle">@estModelView.CarPriceTitle</span>
                                </td>
                                <td class="btnImgPrice">
                                    <input type="image" class="imgBtn" onclick="Framework.GoBackReloadPageUrl('/InpCarPrice');return false;" src="~/img/sbtn編集.png">
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_CarPrice">@estModelView.CarPrice</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice">
                                    2
                                </td>
                                <td class="titDataPrice">
                                    <span id="lbl_DisCountT">@estModelView.DiscountT</span>
                                </td>
                                <td class="btnImgPrice">
                                    <input type="image" class="imgBtn" onclick="Framework.GoBackReloadPageUrl('/InpNebiki');return false;" src="~/img/sbtn編集.png">
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_DisCount">@estModelView.Discount</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice">
                                    3
                                </td>
                                <td class="titDataPrice">
                                    <span id="lblSonotaTitle">@estModelView.SonotaTitle</span>
                                </td>
                                <td class="btnImgPrice">
                                    <input type="image" class="imgBtn" onclick="Framework.GoBackReloadPageUrl('/InpCarPrice');return false;" src="~/img/sbtn編集.png">
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_Sonota">@estModelView.Sonota</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice">
                                    4
                                </td>
                                <td class="titDataPrice">
                                    <span id="lblSyakenNewZok">@estModelView.SyakenNewZokT</span>
                                </td>
                                <td class="btnImgPrice">
                                    <input type="image" class="imgBtn" onclick="Framework.GoBackReloadPageUrl('/InpCarPrice');return false;" src="~/img/sbtn編集.png">
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_SyakenNew">@estModelView.SyakenNew</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice">
                                    5
                                </td>
                                <td class="titDataPrice">
                                    <span id="lbl_OpSpeCialPriceT">@estModelView.OpSpeCialTitle</span>
                                </td>
                                <td class="btnImgPrice">
                                    <input type="image" class="imgBtn" onclick="Framework.GoBackReloadPageUrl('/InpOption');return false;" src="~/img/sbtn編集.png">
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_OpSpeCialPrice">@estModelView.OptionPriceAll</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice" style="background-color: #eee;">
                                    6
                                </td>
                                <td class="titDataPrice" colspan="2" style="background-color: #eee;">
                                    <span id="lbl_CarKeiTitle">車両販売価格（1～5）</span>
                                </td>
                                <td class="txtprice" style="background-color: #eee;">
                                    <span id="lbl_CarKei">@estModelView.CarSum</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice">
                                    7
                                </td>
                                <td class="titDataPrice">
                                    <span id="Label79">税金・保険料（非課税）</span>
                                </td>
                                <td class="btnImgPrice">
                                    <input type="image" class="imgBtn" onclick="Framework.GoBackReloadPageUrl('/InpZeiHoken');return false;" src="~/img/sbtn編集.png">
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_TaxInsAll">@estModelView.TaxInsAll</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice">
                                    8
                                </td>
                                <td class="titDataPrice">
                                    <span id="lbl_TaxInsEquivalentAllT">@estModelView.TaxInsEquivalentTitle</span>
                                </td>
                                <td class="btnImgPrice">
                                    <input type="image" class="imgBtn" src="~/img/sbtn編集.png" onclick="Framework.GoBackReloadPageUrl('/InpZeiHoken');return false;">
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_TaxInsEquivalentAll">@estModelView.TaxInsEquivalentAll</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice">
                                    9
                                </td>
                                <td class="titDataPrice">
                                    <span id="Label80">預り法定費用（非課税）</span>
                                </td>
                                <td class="btnImgPrice">
                                    <input type="image" class="imgBtn" src="~/img/sbtn編集.png" onclick="Framework.GoBackReloadPageUrl('/InpSyohiyo');return false;">
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_TaxFreeAll">@estModelView.TaxFreeAll</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice">
                                    10
                                </td>
                                <td class="titDataPrice">
                                    <span id="lbl_DaikoAllT">@estModelView.DaikoTitle</span>
                                </td>
                                <td class="btnImgPrice">
                                    <input type="image" class="imgBtn" src="~/img/sbtn編集.png" onclick="Framework.GoBackReloadPageUrl('/InpSyohiyo');return false;">
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_DaikoAll">@estModelView.TaxCostAll</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice">
                                    11
                                </td>
                                <td class="titDataPrice" colspan="2">
                                    <span id="lbl_TaxName">@estModelView.TaxName</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_TaxAll">@estModelView.ConTax</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice" style="background-color: #eee;">
                                    12
                                </td>
                                <td class="titDataPrice" colspan="2" style="background-color: #eee;">
                                    <span id="lbl_CarSaleKeiTitle" style="background-color: #eee;">@estModelView.CarSaleSumTitle</span>
                                </td>
                                <td class="txtprice" style="background-color: #eee;">
                                    <span id="lbl_CarSaleKei">@estModelView.CarSaleSum</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice">
                                    13
                                </td>
                                <td class="titDataPrice">
                                    <span id="Label84">下取車価格</span>
                                </td>
                                <td class="btnImgPrice">
                                    <input type="image" class="imgBtn" src="~/img/sbtn編集.png" onclick="Framework.GoBackReloadPageUrl('/InpSitaCar');return false;">
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_ShitaPrice">@estModelView.TradeInPrice</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice">
                                    14
                                </td>
                                <td class="titDataPrice">
                                    <span id="lbl_ZansaiT">下取車残債</span>
                                </td>
                                <td class="btnImgPrice">
                                    <input type="image" class="imgBtn" src="~/img/sbtn編集.png" onclick="Framework.GoBackReloadPageUrl('/InpSitaCar');return false;">
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_Zansai">@estModelView.Balance</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="dataPrice" style="background-color: #eee;">
                                    15
                                </td>
                                <td class="titDataPrice" style="background-color: #eee;">
                                    <span id="lbl_SalesSumTitle">@estModelView.SalesSumTitle</span>
                                </td>
                                <td class="btnImgPrice" style="background-color: #eee;">
                                    <input type="image" class="imgBtn" onclick="Framework.GoBackReloadPageUrl('/InpNebiki');return false;" src="~/img/sbtn編集.png">
                                </td>
                                <td class="txtprice" style="background-color: #eee;">
                                    <span id="lbl_SalesSum">@estModelView.SalesSum</span>
                                </td>
                            </tr>
                        </table>
                        <!-- 詳細情報：付属品・特別仕様明細 -->
                        <table cellpadding="2" class="table table-responsive">
                            <tr>
                                <td colspan="2" class="title" style="background-color: #d2e0fb; text-align: left;">
                                    <input type="image" onclick="Framework.GoBackReloadPageUrl('/InpOption');return false;" src="~/img/sbtn付属品.png" style="border-width:0px;vertical-align: middle;">
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    <span id="Label51">品名</span>
                                </td>
                                <td class="title" style="text-align: center;">
                                    <span id="Label52">金額</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="data">
                                    <span id="lbl_OpName1">@Model.EstModel.OptionName1</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_OpPrice1">@estModelView.OptionPrice1</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="data">
                                    <span id="lbl_OpName2">@Model.EstModel.OptionName2</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_OpPrice2">@estModelView.OptionPrice2</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="data">
                                    <span id="lbl_OpName3">@Model.EstModel.OptionName3</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_OpPrice3">@estModelView.OptionPrice3</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="data">
                                    <span id="lbl_OpName4">@Model.EstModel.OptionName4</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_OpPrice4">@estModelView.OptionPrice4</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="data">
                                    <span id="lbl_OpName5">@Model.EstModel.OptionName5</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_OpPrice5">@estModelView.OptionPrice5</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="data">
                                    <span id="lbl_OpName6">@Model.EstModel.OptionName6</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_OpPrice6">@estModelView.OptionPrice6</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="data">
                                    <span id="lbl_OpName7">@Model.EstModel.OptionName7</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_OpPrice7">@estModelView.OptionPrice7</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="data">
                                    <span id="lbl_OpName8">@Model.EstModel.OptionName8</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_OpPrice8">@estModelView.OptionPrice8</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="data">
                                    <span id="lbl_OpName9">@Model.EstModel.OptionName9</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_OpPrice9">@estModelView.OptionPrice9</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="data">
                                    <span id="lbl_OpName10">@Model.EstModel.OptionName10</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_OpPrice10">@estModelView.OptionPrice10</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="data">
                                    <span id="lbl_OpName11">@Model.EstModel.OptionName11</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_OpPrice11">@estModelView.OptionPrice11</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="data">
                                    <span id="lbl_OpName12">@Model.EstModel.OptionName12</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_OpPrice12">@estModelView.OptionPrice12</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- table Price Right -->
                    <div class="col-6 col-sm-6">
                        <!-- 詳細情報：諸費用明細 -->
                        <table cellpadding="2" class="table table-responsive">
                            <tr>
                                <td class="title" rowspan="9" style="background-color: #d2e0fb;">
                                    <input type="image" onclick="Framework.GoBackReloadPageUrl('/InpZeiHoken');return false;" src="~/img/sbtn税金保険料2.png" style="border-width:0px;">
                                </td>
                                <td class="titDataPrice">
                                    <span id="lbl_CarTaxTitle">@estModelView.AutoTaxMonth</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_CarTax">@(estModelView.AutoTaxEquivalent != "" ? estModelView.AutoTaxEquivalent : estModelView.AutoTax)</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="info" style="background-color: #d2e0fb;">
                                    <strong><span id="lblInfoCarTax_1" class="spanTxtSubject">※未経過相当額の場合は相当額欄にご入力ください</span></strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span id="Label56">環境性能割</span>
                                </td>
                                <td id="idGetTax" class="txtprice" style="background-color: rgb(255, 255, 204);">
                                    <span id="lbl_GetTax">@estModelView.AcqTax</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="info" style="background-color: #d2e0fb;">
                                    <strong><span class="spanTxtSubject">※詳細金額は各都道府県税事務所にお問い合わせください</span></strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span id="Label59">重量税</span>
                                </td>
                                <td id="idWeightTax" class="txtprice" style="background-color: rgb(255, 255, 204);">
                                    <span id="lbl_WeightTax">@estModelView.WeightTax</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="info" style="background-color: #d2e0fb;">
                                    <strong><span class="spanTxtSubject">※減税、13・18年経過車等がある為ご自身でご入力ください</span></strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span id="lbl_JibaiTitle">@estModelView.DamageInsMonth</span>
                                </td>
                                <td id="idJibaiHoken" class="txtprice">
                                    <span id="lbl_JibaiHoken">@(!string.IsNullOrEmpty(estModelView.DamageInsEquivalent) ? @estModelView.DamageInsEquivalent : @estModelView.DamageIns)</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="info" style="background-color: #d2e0fb;">
                                    <strong><span class="spanTxtSubject">※未経過相当額の場合は相当額欄にご入力ください</span></strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span>任意保険料</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_NiniHoken">@estModelView.OptionIns</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="title" rowspan="7" style="background-color: #d2e0fb;">
                                    <input type="image" onclick="Framework.GoBackReloadPageUrl('/InpSyohiyo');return false;" src="~/img/sbtn預り法定費用2.png" style="border-width:0px;">
                                </td>
                                <td class="titDataPrice">
                                    <span>検査登録(印紙代)</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_ChkIns">@estModelView.TaxFreeCheck</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span>車庫証明(印紙代)</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_SyakoSyomei">@estModelView.TaxFreeGarage</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span>下取車手続・処分(印紙代)</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_SitaTetuduki">@estModelView.TaxFreeTradeIn</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span>リサイクル預託金</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_RecyclePrice">@estModelView.TaxFreeRecycle</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span id="lbl_TaxFreeSet1Title">@estModelView.TaxFreeSet1Title</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_TaxFreeSet1">@estModelView.TaxFreeSet1</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span id="lbl_TaxFreeSet2Title">@estModelView.TaxFreeSet2Title</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_TaxFreeSet2">@estModelView.TaxFreeSet2</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span>その他非課税費用</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_OtherPrice">@estModelView.TaxFreeOther</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="title" rowspan="10" style="background-color: #d2e0fb;">
                                    <input type="image" onclick="Framework.GoBackReloadPageUrl('/InpSyohiyo');return false;" src="~/img/sbtn手続代行費用2.png" style="border-width:0px;">
                                </td>
                                <td class="titDataPrice">
                                    <span>検査登録手続代行</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_ChkDaikoHiyo">@estModelView.TaxCheck</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span>車庫証明手続代行</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_SyakoDaiko">@estModelView.TaxGarage</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span>下取車手続・処分代行</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_SitaKaitaiHiyo">@estModelView.TaxTradeIn</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span>下取車査定料</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_TaxTradeInSatei">@estModelView.TaxTradeInSatei</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span>資金管理料金</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_Recycle">@estModelView.TaxRecycle</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span>納車費用</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_NosyaHiyo">@estModelView.TaxDelivery</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span id="lbl_TaxSet1Title">@estModelView.TaxSet1Title</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_TaxSet1">@estModelView.TaxSet1</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span id="lbl_TaxSet2Title">@estModelView.TaxSet2Title</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_TaxSet2">@estModelView.TaxSet2</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span id="lbl_TaxSet3Title">@estModelView.TaxSet3Title</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_TaxSet3">@estModelView.TaxSet3</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titDataPrice">
                                    <span>その他費用</span>
                                </td>
                                <td class="txtprice">
                                    <span id="lbl_Other">@estModelView.TaxOther</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="text-align: right; vertical-align: middle; padding-top: 10px;">
                                    <span id="lblInfoCarTax" style="display:inline-block;color:Red;font-family:ＭＳ Ｐゴシック;font-size:9pt;font-weight:bold;width:400px;">
                                        ※日野、日産ディーゼル、三菱フソウ、イスズの車両は、<br>&nbsp;&nbsp;&nbsp;自動車税、重量税、自賠責保険料が自動計算されません
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <!-- 詳細情報：お支払プラン -->
                        <div id="formTblInpLoan" style="dis">
                            <table class="table table-responsive">
                                <tr>
                                    <td class="title" colspan="2" style="background-color: #d2e0fb; text-align: left;
                                                            vertical-align: middle;">
                                        <input type="image" onclick="Framework.GoBackReloadPageUrl('/InpLoan');return false" src="~/img/sbtnローン計算.png" style="border-width:0px;vertical-align: middle;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style="width: 610px; height: 22px;">
                                        <span id="Label160" class="EstTitle1" style="display:inline-block;font-size:10pt;width:100px;">頭金</span>
                                    </td>
                                    <td id="idDeposit" class="data" style="text-align: right; height: 22px;">
                                        <span id="lbl_Deposit" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.Deposit</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title" style="width: 610px; text-align: left; height: 22px;">
                                        <span id="Label157" class="EstTitle1" style="display:inline-block;font-size:10pt;width:152px;">現金・割賦元金</span>
                                    </td>
                                    <td id="idPrincipal" class="title" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lbl_Principal" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.Principal</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style="width: 610px; height: 22px;">
                                        <span id="Label148" class="EstTitle1" style="display:inline-block;font-size:10pt;width:100px;">分割払手数料</span>
                                    </td>
                                    <td id="idPartitionFee" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lbl_PartitionFee" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.PartitionFee</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title" style="width: 610px; text-align: left; height: 22px;">
                                        <span id="Label145" class="EstTitle1" style="display:inline-block;font-size:10pt;width:163px;">分割支払金合計</span>
                                    </td>
                                    <td id="idPartitionSum" class="title" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lbl_PartitionSum" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.PartitionAmount</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style="width: 610px; height: 22px;">
                                        <span id="Label142" class="EstTitle1" style="display:inline-block;font-size:10pt;width:163px;">支払回数</span>
                                    </td>
                                    <td id="idKaisu" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lbl_Kaisu" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.PayTimes</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style="width: 610px; height: 22px;">
                                        <span id="Label139" class="EstTitle1" style="display:inline-block;font-size:10pt;width:163px;">支払期間</span>
                                    </td>
                                    <td id="idKikan" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lbl_Kikan" class="InpTitle2" style="display:inline-block;font-size:10pt;">@estModelView.Kikan</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style="width: 610px; height: 22px;">
                                        <span id="Label136" class="EstTitle1" style="display:inline-block;font-size:10pt;width:163px;">初回支払額</span>
                                    </td>
                                    <td id="idFirstPrice" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lbl_FirstPrice" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.FirstPayAmount</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style="width: 610px; height: 22px;">
                                        <span id="Label137" class="EstTitle1" style="display:inline-block;font-size:10pt;width:109px;">2回目以降支払額</span>
                                        <span id="lbl_SecoTimes" class="EstTitle1" style="display:inline-block;font-size:10pt;width:62px;">@estModelView.PayTimes2</span>
                                    </td>
                                    <td id="idSecoPrice" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lbl_SecoPrice" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.PayAmount</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style="width: 610px; height: 22px;">
                                        <span id="Label133" class="EstTitle1" style="display:inline-block;font-size:10pt;width:163px;">ボーナス加算月</span>
                                    </td>
                                    <td id="idBonusMonth" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lbl_BonusMonth" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.BonusMonth</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style="width: 610px; height: 22px;">
                                        <span id="Label123" class="EstTitle1" style="display:inline-block;font-size:10pt;width:102px;">ボーナス加算額</span>
                                        <span id="lbl_BonusTimes" class="EstTitle1" style="display:inline-block;font-size:10pt;width:62px;">@estModelView.BonusTimes</span>
                                    </td>
                                    <td id="idBonusAdd" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lbl_BonusAdd" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.BonusAmount</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" colspan="2" style="border-style: none;">
                                        <span id="lbl_Rate" class="EstTitle1"> @estModelView.Rate</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="idWarningRecalc" class="data" colspan="2" style="border-style: none; padding: 3px;
                                                            text-align: right; vertical-align: middle;">
                                        <strong><span id="lblWarningRecalc" class="spanTxtSubject">@estModelView.WarningRecalc</span></strong>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- リース計算情報 -->
                        <div id="formTblInpLease">
                            <table class="table table-responsive">
                                <tr>
                                    <td class="title" colspan="2" style="background-color: #d2e0fb; text-align: left;
                                                            vertical-align: middle;">
                                        <input type="image" name="imgBtnLease" id="imgBtnLease" onclick="CheckNowOdometer();return false;" src="~/img/btb_リース計算情報.png" style="border-width:0px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style="height: 22px;">
                                        <span id="Label1" class="EstTitle1" style="font-size:10pt;">初年度登録</span>
                                    </td>
                                    <td id="Td2" class="data" style="text-align: right; height: 22px;">
                                        <span id="lblFirstRegistration" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.FirstRegistration</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style=" text-align: left; height: 22px;">
                                        <span id="Label6" class="EstTitle1" style="font-size:10pt;">車検満了日(予定日)</span>
                                    </td>
                                    <td id="Td3" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lblInspectionExpiration" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.InspectionExpirationDate</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style=" height: 22px;">
                                        <span id="Label9" class="EstTitle1" style="font-size:10pt;">リース開始月</span>
                                    </td>
                                    <td id="Td4" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lblLeaseStart" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.LeaseStartMonth</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style=" text-align: left; height: 22px;">
                                        <span id="Label11" class="EstTitle1" style="font-size:10pt;">契約期間</span>
                                    </td>
                                    <td id="Td5" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lblLeasePeriod" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.LeasePeriod</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style=" height: 22px;">
                                        <span id="Label13" class="EstTitle1" style="font-size:10pt;">リース満了日</span>
                                    </td>
                                    <td id="Td6" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lblLeaseExpirationDate" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.LeaseExpirationDate</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style="height: 22px;">
                                        <span id="Label19" class="EstTitle1" style="font-size:10pt;">契約プラン</span>
                                    </td>
                                    <td id="Td13" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lblContractPlanName" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.ContractPlanName</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style=" height: 22px;">
                                        <span id="Label15" class="EstTitle1" style="font-size:10pt;">延長保証(+1年)</span>
                                    </td>
                                    <td id="Td7" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lblExtendedGuarantee" class="InpTitle2" style="display:inline-block;font-size:10pt;width:158px;">@estModelView.IsExtendedGuarantee</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style=" height: 22px;">
                                        <span id="Label17" class="EstTitle1" style="font-size:10pt;">任意保険</span>
                                    </td>
                                    <td id="Td8" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lblInsuranceCompanyName" class="InpTitle2">@estModelView.InsuranceCompanyName</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style=" height: 22px;">
                                        <span id="Label24" class="EstTitle1" style="font-size:10pt;">保険料)</span>
                                    </td>
                                    <td id="Td9" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lblInsuranceFee" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.InsuranceFee</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style=" height: 22px;">
                                        <span id="Label22" class="EstTitle1" style="font-size:10pt;">頭金(税込)</span>
                                    </td>
                                    <td id="Td10" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lblDownPayment" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.DownPayment</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data" style=" height: 22px;">
                                        <span id="Label29" class="EstTitle1" style="font-size:10pt;">下取(税込)</span>
                                    </td>
                                    <td id="Td11" class="data" style="width: 271px; text-align: right; height: 22px;">
                                        <span id="lblTradeInPrice" class="InpTitle2" style="display:inline-block;width:132px;">@estModelView.IdeTradeInPrice</span>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                &nbsp;
                &nbsp;
                <table cellpadding="1" class="table table-responsive">
                    <tr>
                        <td colspan="8" class="title" style="background-color: #d2e0fb; text-align: left;
                                vertical-align: middle;">
                            <input type="image" src="~/img/sbtn下取車.png" onclick="Framework.GoBackReloadPageUrl('/InpSitaCar');return false;" style="border-width:0px;vertical-align: middle;">
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="height: 25px;">
                            車名
                        </td>
                        <td class="data" colspan="5">
                            <span id="lbl_Sita" class="EstTitle1" style="display:inline-block;width:542px;">@Model.EstModel.TradeInCarName</span>
                        </td>
                        <td class="title" style="height: 25px;">
                            初年度登録
                        </td>
                        <td class="data">
                            <span id="lbl_SitaFirstYM" class="EstTitle1" style="display:inline-block;width:116px;">@estModelView.TradeInFirstRegYm</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="height: 25px;">
                            車検
                        </td>
                        <td class="data">
                            <span id="lbl_SitaIns" class="EstTitle1" style="display:inline-block;width:86px;">@estModelView.TradeInCheckCarYm</span>
                        </td>
                        <td class="title" style="height: 25px;">
                            走行距離
                        </td>
                        <td class="data">
                            <span id="lbl_SitaRun" class="EstTitle1" style="display:inline-block;width:87px;">@estModelView.SitaRun</span>
                        </td>
                        <td class="title" style="height: 25px;">
                            車台番号
                        </td>
                        <td class="data">
                            <span id="lbl_SitaCarNo" class="EstTitle1" style="display:inline-block;width:230px;"> @Model.EstModel.TradeInChassisNo</span>
                        </td>
                        <td class="title" style="height: 25px;">
                            登録NO
                        </td>
                        <td class="data">
                            <span id="lbl_IserNo" class="EstTitle1" style="display:inline-block;width:133px;">@estModelView.TradeInRegNo</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="height: 25px;">
                            色
                        </td>
                        <td class="data" colspan="7">
                            <span id="lbl_SitaColor" class="EstTitle1" style="display:inline-block;width:700px;">@Model.EstModel.TradeInBodyColor</span>
                        </td>
                    </tr>
                </table>
                &nbsp;
                &nbsp;
                <table cellpadding="1" class="table table-responsive">
                    <tr>
                        <td colspan="8" class="title" style="background-color: #d2e0fb; text-align: left;
                                vertical-align: middle;">
                            <input type="image" src="~/img/sbtn備考.png" onclick="Framework.GoBackReloadPageUrl('/InpNotes');return false;" style="border-width:0px;vertical-align: middle;">
                        </td>
                    </tr>
                    <tr>
                        <td class="data" colspan="8" style="padding: 3px;">
                            <span id="lbl_Notes" class="EstTitle1" style="display:inline-block;height:36px;width:790px;">@Model.EstModel.Notes</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <input type="hidden" id="hidLeaseFlag" value="@Model.EstModel.LeaseFlag">
    <input type="hidden" id="hidNowOdometer" value="@Model.EstModel.NowOdometer">
    <input type="hidden" id="hidMilUnit" value="@Model.EstModel.MilUnit">
    <input type="hidden" id="hidFirstRegYm" value="@Model.EstModel.FirstRegYm">
    <input type="hidden" id="hidMakerName" value="@Model.EstModel.MakerName">
</form>

<script>
    SetInitValue();
    function SetInitValue() {
        if (@Model.EstModel.IsError == 1) {
            alert("最初に車両本体価格をご確認下さい")
        }
        if (@Model.EstModel.AccidentHis == 0) {
            $("#raJikoHisMu").attr("checked", "checked");

        } else if (@Model.EstModel.AccidentHis == 1) {
            $("#raJikoHisU").attr("checked", "checked");
        }
    }
</script>
<script src="~/js/EstMain.js"></script>
