@using KantanMitsumori.Helper.CommonFuncs
@using KantanMitsumori.Model.Response
@model ResponseInpSitaCar
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "かんたん見積";

    var ListDropDownFirstYM = DropDownList.ListDropDownFirstYM(true);
    var ListDropDownSyakenYM = DropDownList.ListDropDownSyakenYM(true);
    var ListMonth = DropDownList.ListMonth(true);
    var TradeInNowOdometer = CommonFunction.FormatString(Model.TradeInNowOdometer);
    var TradeInPrice = CommonFunction.FormatString(Model.TradeInPrice);
    var Balance = CommonFunction.FormatString(Model.Balance);
}
<form id="formInputSitaCar">
    <div align="center">
        <table class="inptable" id="Table1" cellpadding="2" cellspacing="0" width="720px">
            <tr>
                <td class="inptd" style="background-color:White;" align="left" colspan="2">
                    <span id="Label6" class="inplabel" style="color:#3C82ED;font-size:14pt;font-weight:bold;">下取車情報の編集</span>
                </td>
            </tr>

            <tr>
                <td class="inptd" style="background-color:White;" align="left" colspan="2">
                    <span id="Label7" class="inplabel">
                        下取車価格および下取車情報を編集できます。
                    </span>
                </td>
            </tr>
            <tr>
                <td class="inptd" colspan="2" style="background-color:White; font-size:4pt;">&nbsp;</td>
            </tr>
            <tr>
                <td class="tabletitle" style="height: 46px; width: 200px;" align="left">
                    &nbsp;<span id="Label10" class="inplabel" style="display:inline-block;color:White;width:180px;">下取車有無</span>
                </td>
                <td class="inptdmst" align="left" style="width: 430px">
                    &nbsp;<span class="inplabel" style="display:inline-block;height:21px;width:70px;"><input id="radSitaM" type="radio" name="SSita" value="0" checked="checked" onclick="resetValue();" tabindex="110"><label for="radSitaM">無し</label></span>
                    <span class="inplabel" style="display:inline-block;height:21px;width:70px;"><input id="radSitaU" type="radio" name="SSita" value="1" onclick="resetValue();" tabindex="120"><label for="radSitaU">有り</label></span>
                </td>
            </tr>
            <tr>
                <td class="inptd" colspan="2" style="background-color:White; font-size:4pt;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:White; height:20px; text-align:left; margin:0; padding:0;">
                    <span id="lblInfo1" style="color: red; display: none;">
                        ※入力した下取車情報を保存するだけでなく、見積書/注文書に表示させるには、下取車有無を「有り」にしてください。
                    </span>
                </td>
            </tr>
            <tr>
                <td class="tabletitle" align="left" colspan="2" style="width: 205px">
                    <span id="Label70" class="titlelabel" style="display:inline-block;width:180px;">下取車情報</span>&nbsp;
                </td>
            </tr>
            <tr>
                <td id="detail_1" class="inptd" align="left" style="width: 200px; background-color: rgb(210, 224, 251);">
                    <span id="Label73" class="inplabel" style="display:inline-block;width:112px;">車名</span>
                </td>
                <td id="detail_2" class="inptd" align="left" style="width: 430px; background-color: rgb(210, 224, 251);">
                    <input name="SitaCarName" type="text" maxlength="100" id="txtSitaCarName" value="@Model.TradeInCarName" tabindex="210" class="inpbox" style="width:330px;">
                </td>
            </tr>
            <tr>
                <td id="detail_3" class="inptd" align="left" style="width: 200px; background-color: rgb(210, 224, 251);">
                    <span id="Label111" class="inplabel" style="display:inline-block;width:112px;">登録NO</span>
                </td>
                <td id="detail_4" class="inptd" align="left" style="width: 430px; background-color: rgb(210, 224, 251);">
                    <select name="ddlTorokuNo1" id="ddlTorokuNo1" tabindex="220" class="inpbox" style="width:92px;height:22px;" />
                    <input name="txtToroku1" type="text" maxlength="3" id="txtToroku1" tabindex="221" class="inpbox" style="height:22px;width:36px;">
                    <select name="ddlTorokuNo2" id="ddlTorokuNo2" tabindex="222" class="inpbox" style="width:49px;height:22px;" />
                    <input name="txtToroku2" type="text" maxlength="4" id="txtToroku2" tabindex="223" class="inpbox" style="height:22px;width:52px;">
                </td>
            </tr>
            <tr>
                <td id="detail_5" class="inptd" align="left" style="width: 200px; background-color: rgb(210, 224, 251);">
                    <span id="Label88" class="inplabel" style="display:inline-block;width:112px;">車台番号</span>
                </td>
                <td id="detail_6" class="inptd" align="left" style="width: 430px; background-color: rgb(210, 224, 251);">
                    <input name="SitaCarNO" type="text" maxlength="30" id="txtSitaCarNO" value="@Model.TradeInChassisNo" tabindex="230" class="inpbox" style="width:206px;">
                </td>
            </tr>
            <tr>
                <td id="detail_7" class="inptd" align="left" style="width: 200px; height: 28px; background-color: rgb(210, 224, 251);">
                    <span id="Label84" class="inplabel" style="display:inline-block;width:112px;">初年度登録</span>
                </td>
                <td id="detail_8" class="inptd" align="left" style="width: 430px; height: 28px; background-color: rgb(210, 224, 251);">
                    <select name="ddlSitaFirstY" id="ddlSitaFirstY" tabindex="240" class="inpbox" style="height:22px;width:120px;">
                        @{
                            foreach (var item in ListDropDownFirstYM)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                    <span id="Label9" class="inplabel" style="display:inline-block;width:13px;">年</span>
                    <select name="ddlSitaFirstM" id="ddlSitaFirstM" tabindex="241" class="inpbox" style="height:22px;width:48px;">
                        @{
                            foreach (var item in ListMonth)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                    <span id="Label17" class="inplabel" style="display:inline-block;width:13px;">月</span>
                </td>
            </tr>
            <tr>
                <td id="detail_9" class="inptd" align="left" style="width: 200px; background-color: rgb(210, 224, 251);">
                    <span id="Label89" class="inplabel" style="display:inline-block;width:112px;">車検有効期限</span>
                </td>
                <td id="detail_10" class="inptd" align="left" style="width: 430px; background-color: rgb(210, 224, 251);">
                    <select name="ddlSitaSyakenY" id="ddlSitaSyakenY" tabindex="250" class="inpbox" style="width:120px;height: 22px">
                        @{
                            foreach (var item in ListDropDownSyakenYM)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                    <span id="Label94" class="inplabel" style="display:inline-block;width:13px;">年</span>
                    <select op name="ddlSitaSyakenM" id="ddlSitaSyakenM" tabindex="251" class="inpbox" style="width:48px;height: 22px">
                        @{
                            foreach (var item in ListMonth)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                    <span id="Label93" class="inplabel" style="display:inline-block;width:23px;">月</span>
                    <span class="inplabel" style="display:inline-block;width:56px;"><input id="chkSyakenUM" type="checkbox" name="chkSyakenUM" tabindex="252"><label for="chkSyakenUM">無し</label></span>
                </td>
            </tr>
            <tr>
                <td id="detail_11" class="inptd" align="left" style="width: 200px; background-color: rgb(210, 224, 251);">
                    <span id="Label90" class="inplabel" style="display:inline-block;width:112px;">走行距離</span>
                </td>
                <td id="detail_12" class="inptd" align="left" style="width: 430px; background-color: rgb(210, 224, 251);">
                    <input name="SitaNowRun" type="text" maxlength="7" id="txtSitaNowRun" value="@TradeInNowOdometer" tabindex="260" class="inpbox_r" style="width:88px;IME-MODE: disabled">
                    &nbsp;&nbsp;<span class="inplabel"><input id="radSitaMilUnitKM" type="radio" name="milUnit" value="km" checked="checked" onclick="swichUnit('SitaMilUnit');" tabindex="261"><label for="radSitaMilUnitKM">km</label></span>
                    &nbsp;&nbsp;<span class="inplabel"><input id="radSitaMilUnitOther" type="radio" name="milUnit" value="その他" onclick="swichUnit('SitaMilUnit');" tabindex="262"><label for="radSitaMilUnitOther">その他</label></span>
                    <input name="SitaMilUnit" type="text" maxlength="10" id="txtSitaMilUnit" value="@Model.TradeInMilUnit" tabindex="263" class="inpbox" style="width: 80px; visibility: hidden;">
                </td>
            </tr>
            <tr>
                <td id="detail_13" class="inptd" align="left" style="width: 200px; background-color: rgb(210, 224, 251);">
                    <span id="Label91" class="inplabel" style="display:inline-block;width:112px;">色</span>
                </td>
                <td id="detail_14" class="inptd" align="left" style="width: 430px; background-color: rgb(210, 224, 251);">
                    <input name="SitaColor" type="text" maxlength="40" id="txtSitaColor" value="@Model.TradeInBodyColor" tabindex="270" class="inpbox" style="width:335px;IME-MODE: active">
                </td>
            </tr>
            <tr>
                <td class="inptd" colspan="2" style="background-color:White; font-size:4pt;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:White; height:20px; text-align:left; margin:0; padding:0;">
                    <span id="lblInfo2" style="display: none; width: 650px; color: red;">
                        ※下取車価格、下取車残債を入力するには、下取車有無を「有り」にしてください。
                    </span>
                </td>
            </tr>
            <tr>
                <td class="tabletitle" align="left" colspan="2">
                    <span id="Label87" class="titlelabel" style="display:inline-block;width:180px;">下取車価格</span>
                </td>
            </tr>
            <tr>
                <td class="inptd" align="left" style="width: 200px">
                    <span id="Label86" class="inplabel" style="display:inline-block;width:180px;">下取車価格</span>
                </td>
                <td class="inptd" align="left" style="width: 430px">
                    <input name="SitaPri" type="text" maxlength="8" id="txtSitaPri" value="@TradeInPrice" tabindex="310" class="inpbox" style="width:94px; text-align: right;">
                    <span id="Label14" class="inplabel" style="display:inline-block;width:27px;">&nbsp;円</span>
                </td>

            </tr>
            <tr>
                <td class="inptd" align="left" style="width: 200px">
                    <span id="Label79" class="inplabel" style="display:inline-block;width:180px;">下取車残債</span>
                </td>
                <td class="inptd" align="left" style="width: 430px">
                    <input name="SitaZan" type="text" maxlength="8" id="txtSitaZan" value="@Balance" tabindex="320" class="inpbox" style="width:94px; text-align: right;">
                    &nbsp;<span id="Label15" class="inplabel" style="display:inline-block;width:27px;">&nbsp;円</span>
                </td>
            </tr>
            <tr>
                <td class="inptd" colspan="2" style="background-color:White; font-size:4pt;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:White; height:20px; text-align:left; margin:0; padding:0;">
                    <span id="lblInfo3" style="display:inline-block;width:650px;color: red;">
                        ※預り法定費用、手続代行費用の入力は、[キャンセル] または [OK] ボタンでメイン画面に戻った後に行えます。
                    </span>
                </td>
            </tr>
            <tr>
                <td class="tabletitle" align="left" colspan="2">
                    <span id="Label1" class="titlelabel" style="display:inline-block;width:180px;">預り法定費用</span>
                </td>
            </tr>
            <tr>
                <td class="inptd" align="left" style="width: 200px">
                    <span id="Label2" class="inplabel" style="display:inline-block;width:180px;">下取車手続・処分（印紙代）</span>
                </td>
                <td class="inptd" align="left" style="width: 430px">
                    <input name="txtTaxFreeTradeIn" type="text" id="txtTaxFreeTradeIn" class="inpbox_r" style="WIDTH: 94px;" size="10" disabled="disabled" value="@Model.TaxFreeTradeIn">
                    <span id="Label16" class="inplabel" style="display:inline-block;width:27px;">&nbsp;円</span>
                </td>
            </tr>
            <tr>
                <td class="tabletitle" align="left" colspan="2">
                    <span id="Label11" class="titlelabel" style="display:inline-block;width:180px;">手続代行費用</span>&nbsp;
                </td>
            </tr>
            <tr>
                <td class="inptd" align="left" style="width: 200px">
                    <span id="Label4" class="inplabel" style="display:inline-block;width:180px;">下取車手続・処分代行</span>
                </td>
                <td class="inptd" align="left" style="width: 430px">
                    <input name="txtTaxTradeIn" type="text" id="txtTaxTradeIn" class="inpbox_r" style="WIDTH: 94px;" size="10" disabled="disabled" value="@Model.TaxTradeIn">
                    <span id="Label12" class="inplabel" style="display:inline-block;width:27px;">&nbsp;円</span>
                </td>
            </tr>
            <tr>
                <td class="inptd" align="left" style="width: 200px">
                    <span id="Label8" class="inplabel" style="display:inline-block;width:180px;">下取車査定料</span>
                </td>
                <td class="inptd" align="left" style="width: 430px">
                    <input name="txtTaxTradeInSatei" type="text" id="txtTaxTradeInSatei" class="inpbox_r" style="WIDTH: 94px;" disabled="disabled" size="10" value="@Model.TaxTradeInSatei">
                    <span id="Label5" class="inplabel" style="display:inline-block;width:27px;">&nbsp;円</span>
                </td>
            </tr>
            <tr>
                <td class="inpbtntd" colspan="2">
                    <input type="submit" name="btnCancel" value="キャンセル" id="btnCancel" onclick="Framework.GoBackReloadPage();return false;" class="Btn1" style="height:32px;width:100px;">&nbsp;
                    <input type="submit" name="btnOK" value="OK" id="btnOK" form="formInputSitaCar" class="Btn1" style="height:32px;width:100px;">&nbsp;
                </td>
            </tr>
            <tr>
                <td class="inpbtntd" colspan="2">
                    <span id="txMsg" class="inpboxsum" style="display:inline-block;color:Red;width:462px;"></span>&nbsp;
                </td>
            </tr>

        </table>
        <input name="EstNo" type="hidden" id="hidEstNo" value="@Model.EstNo">
        <input name="EstSubNo" type="hidden" id="hidEstSubNo" value="@Model.EstSubNo">
        <input name="TradeInRegNo" type="hidden" id="hidTradeInRegNo" value="@Model.TradeInRegNo">
        <input name="TradeInFirstRegYm" type="hidden" id="hidTradeInFirstRegYm" value="@Model.TradeInFirstRegYm">
        <input name="TradeInMilUnit" type="hidden" id="hidTradeInMilUnit" value="@Model.TradeInMilUnit">
        <input name="TradeInCheckCarYm" type="hidden" id="hidTradeInCheckCarYm" value="@Model.TradeInCheckCarYm">
        <input name="TaxFreeTradeIn" type="hidden" id="hidTaxFreeTradeIn" value="@Model.TaxFreeTradeIn">
        <input name="TaxTradeIn" type="hidden" id="hidTaxTradeIn" value="@Model.TaxTradeIn">
        <input name="TaxTradeInSatei" type="hidden" id="hidTaxTradeInSatei" value="@Model.TaxTradeInSatei">
        <input name="TradeInUM" type="hidden" id="hidTradeInUM" value="@Model.TradeInUM">
    </div>
</form>

<script>
    const listKana = ["あ", "い", "う", "え",
                "か", "き", "く", "け", "こ",
                "さ", "す", "せ", "そ",
                "た", "ち", "つ", "て", "と",
                "な", "に", "ぬ", "ね", "の",
                "は", "ひ", "ふ", "ほ",
                "ま", "み", "む", "め", "も",
                "や", "ゆ", "よ",
                "ら", "り", "る", "れ", "ろ",
                "わ", "を"];
    GetListRikuji();
    GetListKana();
    // list string characters kana
    SetInitData();
    $('#formInputSitaCar').validate({
        submitHandler: function(form) {
            if (inputChk() == false) { return; }
            var model = Framework.getFormData($("#formInputSitaCar"));
            console.log(model)
            var result = Framework.submitAjaxFormUpdateAsync(model, "/InpSitaCar/UpdateInpSitaCar");
            if (result.resultStatus == 0) {
                Framework.GoBackReloadPage();
            } else {
                Framework.GoBackErrorPage(result.messageCode, result.messageContent);
            }
        }
    });
    function GetListRikuji() {
        var result = Framework.GetObjectDataFromUrl("/InpSitaCar/GetListRikuji");
        if (result.resultStatus == 0 && result.messageCode === 'I0002') {
            let length = result.data.length;
            $("#ddlTorokuNo1").append(new Option(" ", " "));
            $("#ddlTorokuNo1 option[value=' ']").attr("selected", "selected");
            for (let i = 0; i < length; i++) {
                let text = result.data[i];
                let value = result.data[i];
                $("#ddlTorokuNo1").append(new Option(value, text));
            }

        } else {
            let Items = result.data;
            if (typeof (Items) != "undefined") {
                $("#txMsg").html(Items)
            } else {
                location.reload();
            }
        }
    }

    function GetListKana() {
        $("#ddlTorokuNo2").append(new Option(" ", " "));
        $("#ddlTorokuNo2 option[value=' ']").attr("selected", "selected");
        listKana.forEach((kana) => {
            $("#ddlTorokuNo2").append(new Option(kana, kana));
        });
    }

    function SetInitData() {
        // 下取車有無
        if ($("#hidTradeInUM").val() == "1") {
            $("#radSitaU").attr("checked", "checked");
        } else {
            $("#radSitaU").removeAttr('checked');
        }
        // 登録NO
        var valTradeInRegNo = $("#hidTradeInRegNo").val() == "" ? "" : $("#hidTradeInRegNo").val().split("/");
        if (valTradeInRegNo == "") {
            Framework.SetSelectedString("ddlTorokuNo1");
            document.getElementById("txtToroku1").value = "";
            Framework.SetSelectedString("ddlTorokuNo2");
            document.getElementById("txtToroku2").value = "";
        }
        else {
            Framework.SetSelectedString("ddlTorokuNo1", valTradeInRegNo[0]);
            document.getElementById("txtToroku1").value = valTradeInRegNo[1];
            Framework.SetSelectedString("ddlTorokuNo2", valTradeInRegNo[2]);
            document.getElementById("txtToroku2").value = valTradeInRegNo[3];
        }
        // 初年度登録
        var valFirstRegYm = $("#hidTradeInFirstRegYm").val();
        var firstYear = parseInt(valFirstRegYm.toString().substring(0, 4));
        var firstMonth = valFirstRegYm.length > 4 ? parseInt(valFirstRegYm.toString().substring(4, 6)).toString() : " ";
        Framework.SetSelectedString("ddlSitaFirstY", firstYear);
        Framework.SetSelectedNumber("ddlSitaFirstM", firstMonth);
        // 車検有効期限
        var valTradeInCheckCarYm = $("#hidTradeInCheckCarYm").val();
        if (valTradeInCheckCarYm.includes("無し")) {
            $("#chkSyakenUM").attr('checked', true);
            Framework.SetSelectedString("ddlSitaSyakenY", "")
            Framework.SetSelectedString("ddlSitaSyakenM", "")
        } else {
            var syakenYear = valTradeInCheckCarYm.toString().substring(0, 4);
            var syakenMonth =  valTradeInCheckCarYm.length > 4 ? parseInt(valTradeInCheckCarYm.toString().substring(4, 6)).toString() : " ";
            Framework.SetSelectedString("ddlSitaSyakenY", syakenYear);
            Framework.SetSelectedNumber("ddlSitaSyakenM", syakenMonth);
        }
        // 走行距離
        if ($("#hidTradeInMilUnit").val() == "km") {
            $("#radSitaMilUnitKM").attr("checked", "checked");
        }
        else {
            $("#radSitaMilUnitOther").attr("checked", "checked");
        }
    }
</script>
<script src="~/js/InpSitaCar.js"></script>